.main-screen-class{

    background-image: url('/static/images/1.png');
    background-repeat: no-repeat;
    background-size:cover;
    height:100vh;
    width: 100vw;
    text-align: center;
    

}

.home-title{
    
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
    gap: 10px;
    padding:18em;
    text-align: center;


}

h2{
    color: white;
    font-size:22px;
    font-family:"Merriweather";
    opacity: 0.8;

}

h3{
    color: white;
    font-family:"Merriweather";
    opacity: 0.8;
    border: 3px solid rgba(255, 255, 255, .6);
    padding: 8px;
    font-size: 26px;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

h3:hover{
    border: 3px solid rgb(119, 164, 191);
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

.main-screen-class2{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow:column;
    background-image: url('/static/images/2.png');
    background-repeat: no-repeat;
    background-size:cover;
    height:100vh;
    width: 100%;

}

.main-screen-class3{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow:column;
    background-image: url('/static/images/3.png');
    background-repeat: no-repeat;
    background-size:cover;
    height:100vh;
    width: 100%;

}

.main-screen-class4{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow:column;
    background-image: url('/static/images/4.png');
    background-repeat: no-repeat;
    background-size:cover;
    height:100vh;
    width: 100%;

}

.containerx{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    background-color: #4b5942;
    
}

.containery{
    display: inline-block;
    width: 30vw;
    padding: 5em;
}

#myButton{
    width: 20vw;
}

.form-container{
    align-items: center;
    justify-content: center;
    display: inline-grid;
}

#messagelength{
    color: red;
    
}

