p{
    color: white;
    font-family:"Merriweather";
}

h1{
    color:white;
    font-family:"Merriweather";
}
.main-screen-class{
    background-color: #4b5942;
    

}

.something{
    background-image: url('/static/images/shopping3.png');
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    align-items: center;

}

.main-container{
    width: 90vw;
    text-align: center;
    margin: auto;
    
}

.main-container2{
  width: 90vw;
  text-align: center;
  margin: auto;
  
  
}

.itemcontainer{
  width: 100vw;
  background-color:#4b5942;
  text-align: center;
  align-items: center;

}

.itemcontainer2{
  width: 100vw;
  background-color:white;
  text-align: center;
  align-items: center;

}

.side-container{
    display: flex;
    overflow: hidden;
}

.text-container{
    text-align: center;
    justify-content: center;
    display: flex;
}


.child {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
  }

.image-container{
    display: inline-table;
    margin-bottom: 25px;
    margin-right: 4px;
    margin-left: 4px;
    
  }

.image-text-container{
  position: relative;
  text-align: center;
  display: inline-block;
  font-size: 0px;
  -webkit-filter: brightness(100%);
}

.image-text-container:hover{
  font-size: 16px;
  -webkit-filter: brightness(90%);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: white;
}

.imgproperty{
  -webkit-filter: brightness(100%);
}
.imgproperty:hover{
  -webkit-filter: brightness(50%);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: white;

}

.imagetext{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
  text-align: center;
  
}

.price{
    float:left
  }

.shoppingcart{
    float: right;
  }

.item-container{

  display: block ruby;
}

