
/* Change colour of text of navbar on hover */ 
nav ul li:hover a {
    color: black !important;
}
/* Change colour of navbar text to red */ 
.navbar-brand{
    color: #FFFFFF !important;
}
nav ul li a{
    color:white !important;
    font-family: merriweather;
}

.navbar{
    font-family:"Merriweather";
    opacity:0.8;
}

h1{
    font-family:"Merriweather";
    color: white;
    opacity: 0.8;
}