.main-container{
    width: 90vw;
    text-align: center;
    margin: auto;
    background-color: rgb(0,0,0,0.4);
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

h1{
    margin-top: 15px;
    color: black;
    font-family:"Merriweather";
    font-size: 30px;
    text-align: center;
}

h2{
    font-family:"Merriweather";
    font-size: 23px;
}

.main-screen-class{
    background-color: #4b5942;
    

}