<!DOCTYPE html>
<html lang="en">
<!-- Specify we are dealing with html file -->
<html>
 <head>
     <!-- Required meta tags -->
    <title>User Page</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- Bootstrap CSS -->
   
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
     <!-- link to css file used -->
     <link rel="stylesheet" href="{{url_for('static',filename='home.css')}}">
     <link rel="stylesheet" href="{{url_for('static',filename='nav.css')}}">
     <link rel="stylesheet" href="{{url_for('static',filename='fonts.css')}}">
 </head>
 <body>
    <!-- Define a nav bar using bootstrap -->
    <div class="main-screen-class">
   <nav class="navbar navbar-fixed-top navbar-expand-md navbar-light justify-content-md-center justify-content-start ">
     <a class="navbar-brand" href="#">crystal&gold</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav ml-auto text-md-center text-left sm-icons mr-0">
        {% if session['email'] %}
        <!-- check if there is a session. if there is, display log out and cart button-->
        <!-- log out button calls logout method in views.py and cart button calls user method-->
        <li class="nav-item"><a class="nav-link" href="/logout" >Log Out <i class="bi-person"></i></a></li>
        <li class="nav-item"><a class="nav-link" href="/user">Cart <i class="bi-cart"></i></a></li>
        {% else %}
         <!-- Otherwise, simply display log in button as the user does not need to log out and the user cannot see their personalized cart-->
        <li class="nav-item"><a class="nav-link" href="/#signinsection" >Log In <i class="bi-person"></i></a></li>
        {% endif %}
         
     </ul>
     </div>
   </nav>
     <!-- div about winter collection -->
   <div class="home-title">
    <h1>Winter Collection</h1>
    <h2>Our Latest collection, a range of bright colours, perfect for a christmas gift for your loved ones. A time limited collection, purchase before 04/01/2023</h2>
    <h3><a href="/items">Browse now</a></h3>
   </div>

  </div>
   <!-- div about products -->
    <div class="main-screen-class2">
      <div class="home-title">
      <h1>Crystal&Gold</h1>
      <h2>Crystal&Gold take pride in products ranging from necklaces, rings and bracelets. Always delivering affordable, high quality products. Many collections come out throughout the year, make sure to not miss it!</h2>
      <h3><a href="/items">Browse All</a></h3>
      </div>
    </div>
     <!-- div about crystals -->
    <div class="main-screen-class3">
      <div class="home-title">
      <h1>Our Crystals</h1>
      <h2>All our products are made from real crystals that can provide you with a healing aura. Our products are made from 24 different crystals with all the benefits of their natural power that they provide. </h2>
      </div>
    </div>
       <!-- div about the business -->
    <div class="main-screen-class4">
      <div class="home-title">
      <h1>About Crystal&Gold</h1>
      <h2>A family owned business established in 2019, based in Leeds, UK. Originally selling personalized necklaces. In 2021 the business grew bigger and opened two branches, in London and Bristol. Crystal&Gold ship internationally.  </h2>
     </div>
    </div>
       <!-- check if in session. If there is a session, remove log in/ sign up forms as it is not required. -->
    {% if session['email'] %}
      <div class="containery" style="height:20px; width:100%; background-color:#4b5942"></div>
    {% else %}
       <!-- else display sign in sign up forms -->
      <div class="containerx" id="signinsection">
      
        <div class="containery">
          <h2>Sign In</h2>
             <!-- call sign in method on post to send values to the method for database checking -->
          <form action="{{ url_for('signin') }}" method="post" name="signin">
            {{ form.hidden_tag() }}
            <p style="color:white">Email</p>
               <!-- check for errors upon email input -->
            {{ signinform.email(class_='form-control') }}
              {% for error in signinform.email.errors %}
            <div class="alert alert-danger w-100" role="alert">
                [{{ error }}]
            </div>
            {% endfor %}
            <p style="color:white">Password</p>
             <!-- check for errors upon password input -->
            {{ signinform.password(class_='form-control') }}
            {% for error in signinform.password.errors %}
            <div class="alert alert-danger w-100" role="alert">
                [{{ error }}]
            </div>
            {% endfor %}
             <!-- submit button -->
            <p><input type="submit" class="btn btn-primary" id="signin" value="Sign In"></p>
             <!-- button for password reset -->
            <p><input type="button" class="btn btn-secondary" id="resetpassword" value="Reset Password"></p>
            </form>

             <!-- password reset form -->

            <div id="passwordpassword" style="display:none;">
              <h2>Reset Password</h2>
                <!-- call passwordreser method on post to send values to the method for database updating -->
            <form action="{{ url_for('passwordreset') }}" method="post" name="resetpassword">
              {{ form.hidden_tag() }}
              <p style="color:white">Email</p>
                 <!-- check for errors upon email input -->
              {{ passwordform.email(class_='form-control') }}
                {% for error in passwordform.email.errors %}
              <div class="alert alert-danger w-100" role="alert">
                  [{{ error }}]
              </div>
              {% endfor %}
              <p style="color:white">Enter New Password</p>
                <!-- check for errors upon password input -->
              {{ passwordform.password1(class_='form-control') }}
              {% for error in passwordform.password1.errors %}
              <div class="alert alert-danger w-100" role="alert">
                  [{{ error }}]
              </div>
              {% endfor %}
              <p style="color:white">Enter New Password Again</p>
                <!-- check for errors upon password input -->
              {{ passwordform.password2(class_='form-control') }}
              {% for error in passwordform.password2.errors %}
              <div class="alert alert-danger w-100" role="alert">
                  [{{ error }}]
              </div>
              {% endfor %}
                <!-- submit button for password reset -->
              <p><input type="submit" class="btn btn-primary" id="signin" value="Reset Password"></p>
              </form>
            </div>
        </div>
          <!-- div containing sign up form -->
        <div class="containery">
        <h2>Sign Up</h2>
         <!-- call sign up method on post to send values to the method for database storing -->
        <form action="{{ url_for('signup') }}" method="post" name="signup">
          {{ form.hidden_tag() }}
          <p style="color:white">Name</p>
             <!-- check for errors upon name input -->
          {{ form.name(class_='form-control') }}
          {% for error in form.name.errors %}
          <div class="alert alert-danger w-100" role="alert">
              [{{ error }}]
          </div>
          {% endfor %}
          <p style="color:white">Surname</p>
             <!-- check for errors upon surname input -->
          {{ form.surname(class_='form-control') }}
          {% for error in form.surname.errors %}
          <div class="alert alert-danger w-100" role="alert">
              [{{ error }}]
          </div>
          {% endfor %}
          <p style="color:white">Email</p>
             <!-- check for errors upon email input -->
          {{ form.email(class_='form-control') }}
            {% for error in form.email.errors %}
          <div class="alert alert-danger w-100" role="alert">
              [{{ error }}]
          </div>
          {% endfor %}
          <p style="color:white">Password</p>
             <!-- check for errors upon password input -->
          {{ form.password(class_='form-control') }}
          {% for error in form.password.errors %}
          <div class="alert alert-danger w-100" role="alert">
              [{{ error }}]
          </div>
          {% endfor %}
             <!-- submit button for sign up-->
          <p><input type="submit" class="btn btn-primary" id="signupbutton" value="Sign Up"></p>
      </form>
      </div>
    </div>
  {% endif %}

 <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
   <script src="/static/javascript/home.js"></script>

 </body>
</html>
