<!DOCTYPE html>
<html lang="en">
<!-- Specify we are dealing with html file -->
<html>
 <head>
     <!-- Required meta tags -->
     <title>Products Page</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- Bootstrap CSS -->
   
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
     <!-- link to css file used -->
     <link rel="stylesheet" href="{{url_for('static',filename='nav.css')}}">
     <link rel="stylesheet" href="{{url_for('static',filename='items.css')}}">
     <link rel="stylesheet" href="{{url_for('static',filename='fonts.css')}}">
 </head>
 <body>
    <!-- Define a nav bar using bootstrap -->
    <div class="main-screen-class">
      <nav class="navbar navbar-fixed-top navbar-expand-md navbar-light justify-content-md-center justify-content-start ">
        <a class="navbar-brand" href="/">crystal&gold</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto text-md-center text-left sm-icons mr-0">
           {% if session['email'] %}
            <!-- check if there is a session. if there is, display log out and cart button-->
            <!-- log out button calls logout method in views.py and cart button calls user method-->
           <li class="nav-item"><a class="nav-link" href="/logout" >Log Out <i class="bi-person"></i></a></li>
           <li class="nav-item"><a class="nav-link" href="/user">Cart <i class="bi-cart"></i></a></li>
           {% else %}
            <!-- Otherwise, simply display log in button as the user does not need to log out and the user cannot see their personalized cart-->
           <li class="nav-item"><a class="nav-link" href="/#signinsection" >Log In <i class="bi-person"></i></a></li>
           {% endif %}
            
        </ul>
        </div>
      </nav>

   </div>



<div class="something">
   <div class="main-container">
    <div class="text-container child">
        <h1>Winter Collection</h1>
    </div>
        <div class="child side-container">
             <!-- loop through values in database rendered in views.py where item is part of collection and show it-->
          {% for product in values %}
          <div class="image-container">
          <p>{{product.name}}</p>
          <div class="image-text-container">
            <img src="static/images/{{ product.image }}" class="imgproperty" alt="Product" width="250px" height="250px">
            <div class="imagetext"><p>{{product.description}}</p></div>
          </div>
          <div class="item-container">
            <div class="price"><p>£{{product.price}}</p> </div>
            <!-- check if there is a current session. If there is, call items method where an item can be added to cart-->
            {% if session['email'] %}
              <form method="post" action="/items">
                <div class="cart-action shoppingcart">
                  <input type="hidden" name="productid" value="{{ product.id }}"/>
                  <input type="submit" value="Add to Cart" />
                </div>
              </form>
            {% else %}
            <!-- if there is no session, ask user to log in before adding to cart. Done through javascript onclick() method on invalidbutton-->
                <div class="cart-action shoppingcart">
                  <input type="hidden" name="productid" value="{{ product.id }}"/>
                  <input type="submit" value="Add to Cart" class="invalidbutton" />
                </div>
            {% endif %}
        </div>
        </div>
          {% endfor %}
          
        </div>
</div>
</div>

<div class="itemcontainer">
<div class="main-container2">
  <div class="text-container child">
    <h1>Necklaces</h1>
  </div>
      <div class="child side-container">
           <!-- loop through values in database rendered in views.py where item is a necklace and show it-->
        {% for items in necklace %}
        <div class="image-container">
        <p>{{items.name}}</p>
        <div class="image-text-container">
          <img src="static/images/{{ items.image }}" class="imgproperty" alt="Product" width="250px" height="250px">
          <div class="imagetext"><p>{{items.description}}</p></div>
        </div>
        <div class="item-container">
          <div class="price"><p>£{{items.price}}</p> </div>
          {% if session['email'] %}
          <!-- check if there is a current session. If there is, call items method where an item can be added to cart-->
            <form method="post" action="/items">
              <div class="cart-action shoppingcart">
                <input type="hidden" name="productid" value="{{ items.id }}"/>
                <input type="submit" value="Add to Cart" />
              </div>
            </form>
          {% else %}
          <!-- if there is no session, ask user to log in before adding to cart. Done through javascript onclick() method on invalidbutton-->
              <div class="cart-action shoppingcart">
                <input type="hidden" name="productid" value="{{ items.id }}"/>
                <input type="submit" value="Add to Cart" class="invalidbutton" />
              </div>
          {% endif %}
      </div>
      </div>
        {% endfor %}
        
      </div>
</div>
</div>

<div class="itemcontainer2">
  <div class="main-container2">
    <div class="text-container child">
      <h1 style="color:#4b5942">Bracelets</h1>
    </div>
        <div class="child side-container">
          <!-- loop through values in database rendered in views.py where item is a bracelet and show it-->
          {% for items in bracelet %}
          <div class="image-container">
          <p style="color:#4b5942">{{items.name}}</p>
          <div class="image-text-container">
            <img src="static/images/{{ items.image }}" class="imgproperty" alt="Product" width="250px" height="250px">
            <div class="imagetext"><p>{{items.description}}</p></div>
          </div>
          <div class="item-container">
            <div class="price"><p style="color:#4b5942">£{{items.price}}</p> </div>
            {% if session['email'] %}
            <!-- check if there is a current session. If there is, call items method where an item can be added to cart-->
              <form method="post" action="/items">
                <div class="cart-action shoppingcart">
                  <input type="hidden" name="productid" value="{{ items.id }}"/>
                  <input type="submit" value="Add to Cart" />
                </div>
              </form>
            {% else %}
            <!-- if there is no session, ask user to log in before adding to cart. Done through javascript onclick() method on invalidbutton-->
                <div class="cart-action shoppingcart">
                  <input type="hidden" name="productid" value="{{ items.id }}"/>
                  <input type="submit" value="Add to Cart" class="invalidbutton" />
                </div>
            {% endif %}
        </div>
        </div>
          {% endfor %}
          
        </div>
  </div>
  </div>

  <div class="itemcontainer">
    <div class="main-container2">
      <div class="text-container child">
        <h1>Rings</h1>
      </div>
          <div class="child side-container">
            {% for items in ring %}
            <!-- loop through values in database rendered in views.py where item is a ring and show it-->
            <div class="image-container">
            <p>{{items.name}}</p>
            <div class="image-text-container">
              <img src="static/images/{{ items.image }}" class="imgproperty" alt="Product" width="250px" height="250px">
              <div class="imagetext"><p>{{items.description}}</p></div>
            </div>
            <div class="item-container">
              <div class="price"><p>£{{items.price}}</p> </div>
              {% if session['email'] %}
              <!-- check if there is a current session. If there is, call items method where an item can be added to cart-->
                <form method="post" action="/items">
                  <div class="cart-action shoppingcart">
                    <input type="hidden" name="productid" value="{{ items.id }}"/>
                    <input type="submit" value="Add to Cart" />
                  </div>
                </form>
              {% else %}
              <!-- if there is no session, ask user to log in before adding to cart. Done through javascript onclick() method on invalidbutton-->
                  <div class="cart-action shoppingcart">
                    <input type="hidden" name="productid" value="{{ items.id }}"/>
                    <input type="submit" value="Add to Cart" class="invalidbutton" />
                  </div>
              {% endif %}
          </div>
          </div>
            {% endfor %}
            
          </div>
    </div>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="/static/javascript/home.js"></script>

</body>
</html>
