<!DOCTYPE html>
<html lang="en">
<!-- Specify we are dealing with html file -->
<html>
 <head>
     <!-- Required meta tags -->
     <title>User Page</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- Bootstrap CSS -->
   
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
     <!-- link to css file used -->
     <link rel="stylesheet" href="{{url_for('static',filename='nav.css')}}">
     <link rel="stylesheet" href="{{url_for('static',filename='user.css')}}">
     <link rel="stylesheet" href="{{url_for('static',filename='fonts.css')}}">
 </head>
 <body>
    <!-- Define a nav bar using bootstrap -->
    <div class="main-screen-class">
      <nav class="navbar navbar-fixed-top navbar-expand-md navbar-light justify-content-md-center justify-content-start ">
        <a class="navbar-brand" href="/">crystal&gold</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto text-md-center text-left sm-icons mr-0">
           {% if session['email'] %}
            <!-- check if there is a session. if there is, display log out and cart button-->
            <!-- log out button calls logout method in views.py and cart button calls user method-->
           <li class="nav-item"><a class="nav-link" href="/logout" >Log Out <i class="bi-person"></i></a></li>
           <li class="nav-item"><a class="nav-link" href="/user">Cart <i class="bi-cart"></i></a></li>
           {% else %}
            <!-- Otherwise, simply display log in button as the user does not need to log out and the user cannot see their personalized cart-->
           <li class="nav-item"><a class="nav-link" href="/#signinsection" >Log In <i class="bi-person"></i></a></li>
           {% endif %}
            
        </ul>
        </div>
      </nav>

   </div>
  </div>
 <!-- Check if there is a session, if so display users name -->
  {% if session.name %}
  <h1>Welcome Back, {{ session.name }}</h1>
{% endif %}



<h2>Your Cart</h2>
 <!-- A table to organize and display a users cart-->
<table id="data" class="table table-striped">
  <thead>
    <tr>
      <th>Product Code</th>
      <th>Image</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Product Price</th>
      <th>Total Price</th>
      <th>Remove Item</th>
    </tr>
  </thead>
  <tbody>
     <!-- loop through values rendered through views.py which consists of the items in the current sessions cart-->
    {% for product in values %}
      <tr>
        <td>{{ product.id }}</td>
        <td> <img src="static/images/{{ product.image }}" alt="Product in Cart" width="50px" height="50px"></td>
        <td>{{ product.name }}</td>
        <td>{{ product.quantity }}</td>
        <td>£{{ product.price }}</td>
        <td>£{{ product.price * product.quantity }} </td>
        <td><a href="/deleteitem" id= "deletebutton"name="productid" value="{{ product.id }}"><i class="bi bi-trash"></a></td>

      
      </tr>
    {% endfor %}
  </tbody>
</table>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="/static/javascript/home.js"></script>

</body>
</html>
